html,body,#root,.App {
  height: 100%;
  background-color: #292b2c;
}

input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover { 
    cursor:pointer; 
}

.input-field {
  width: 50%;
  border: 0;
}

.search-button-background {
  background-color: #3e8dc2;

}


.container{
  display: flex;
  align-items: center;
}

.border{
  border-bottom: 1px solid black;
  width: 100%;
}

.content {
  padding: 0 10px 0 10px;
}